@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;

    a {
        color: white;
    }
}

footer {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    min-height: calc(100vh - 100px);
    text-align: center;
    background-color: rgb(230, 230, 230);
 
    h1 {
        color: rgb(65, 65, 65);
    }

}


