* {
    margin: 0;
    padding: 0;
}


header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;

    a {
        color: white;
    }
}

footer {
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: calc(100vh - 100px);
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}